body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#topwrapper {
	display: flex;
	height: 150px;
	background-color: #610808;
	flex-direction: column;
	justify-content: space-between;

}

#topred {
	display: flex;
	width: 100%;
	height: 80%;
	justify-content: space-around;
	align-items: center;
}


#topblack  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  color: white;
  width: 100%;
  background-color: #000000;

}

#toplist {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}

#toplist ul {
	display: flex;
	flex-direction: row;
	width: 25%;
	list-style: none;
	justify-content: space-between;
}

.bodywrapper {
	margin: 0 auto;
	width: 90%;
}

#bodybox {
	display: flex;
	width: 95%;
	flex-direction: column;
	align-content: space-around;

}

#bodyboxwrapper {
	display: flex;
	justify-content: center;
	align-content: space-around;
	width: 100%;
}

#topblock {
	display: flex;
	justify-content: space-between;
	}

#date {
	display: flex;
	justify-content: right;
	width: 100%;

}


section.wrapper {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: lightgreen;
  border: 5px solid green;
}

div.column {
  width: 30%;
  border: 5px solid black;
  display: inline-block;
}

div.column img {
  width: 100%;
}

section.wrapper2 {
	width: 15%;
	max-width: 187px;
	margin: 0 auto;
	background-color: lightgreen;
	border: 5px solid green;
}



#popularnewsdiv {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	height: 200px;
	justify-content: space-around;
	align-content: space-around;
}

#newsfswddiv {
	display: flex;
	justify-content: space-between;
}

#newsfswddivleft {
	display: flex;
	flex-direction: column;
	width: 82%;
}

#newsfswddivright {
	display: flex;
	width: 15%;
}

#Mittelstück {
	display: flex;
	flex-direction: column;
	width: 85%;
}

#Mittelstück-Wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

#Body-Wrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

#lowblock {
	display: flex;
	justify-content: space-between;
}

#newscfdivleft {
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	justify-content: space-around;
	align-content: space-around;
	width: 82%;
}

#iphone {
	display: flex;
	width: 45%;
}

#oneplus {
	display: flex;
	width: 45%;
}

#spotify {
	display: flex;
	width: 45%;
}

#powerstrip {
	display: flex;
	width: 45%;
}

#newscfdivright {
	display: flex;
	width: 15%;
}

#bottomblack {
	display: flex;
	flex-direction: column;
	flex: 0 0 100%;
	height: 9em;
	background-color: black;
	justify-content: space-between;
}

#bottomlist {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 3em;
	color: white;
	justify-content: space-between;
}

#bottomlist ul {
	display: flex;
	flex-direction: row;
	width: 20%;
	list-style: none;
	justify-content: space-between;
}


#yourname {
	display: flex;
	width: 100%;
	height: 3em;
	color: white;
	align-items: flex-end;
	align-self: flex-end;
	justify-content: center;
}

#bottomimage {
	display: flex;
	width: 100%;
	height: 3em;
	justify-content: right;
	align-items: center;
	align-self: center;

}
